@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import './variables';

* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

header {
  @include flexCenter(space-between, column);
  padding-top: 20px;
  .top-navbar {
    #logo {
      color: #191919;
      font-size: 25px;
      font-weight: bold;
    }
    &-contact {
      display: flex;
      align-items: center;
      line-height: 15px;

      i {
        margin-right: 15px;
        color: #fd5f00;
        font-size: 25px;
      }

      &-name {
        color: #191919;
        font-weight: bold;
      }
      .email {
        font-size: 15px;
        color: #646464;
      }
    }
    .apply-btn {
      display: flex;
      width: 100%;
      justify-content: flex-end;
      margin-top: 10px;
      button {
        border: none;
        width: 120px;
        height: 50px;
        font-size: 18px;
        color: #fff;
        background-color: #fd5f00;
      }
    }
  }

  .main-navbar{
    margin-top: 10px;
    width: 100%;
    background-color: #0d1128;
    padding: 10px 20px;
    .hamburger-btn {
      display: flex;
      width: 100%;
      justify-content: flex-end; 
      height: 50px;
      align-items: center;

      button{
        border: none;
        height: 35px;
        background-color: transparent;
        display: flex;
        align-items: center;

        i{
          color: #737583;
          font-size: 25px;
          display: flex;
            align-items: center;
          span{
            margin-left: 5px;
            font-size: 18px;
          }
        }
      }
    }
  }
}
